body {
  background-color: #000000;
}

/* Global Container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-color: #f4f4f4;
}

/* Title Styling */
.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Editor Container */
.editor-container {
  flex: 1;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Monaco Editor Styling */
.editor {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Run Button Styling */
.run-button {
  padding: 12px 10px;
  background-color: #3f63b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  width: 100px;
  align-self: center;
}

/* Console Label Styling */
.console-label {
  font-size: 1.1rem;
  color: #c4c4c4;
  font-weight: bold;
}

/* Console Styling */
.console {
  background-color: black;
  color: white;
  padding: 10px;
  height: 150px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
